# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# Mis archivos a ignorar
/src/assets/MatrioshTSold/
/src/assets/Analizer/
/src/assets/MatrioshTS/node_modules/

src/assets/MatrioshTS/src/Gramatica/Traductor.js

	src/assets/MatrioshTS/src/TypeScript/Interpreter/Edd/
	src/assets/MatrioshTS/src/TypeScript/Interpreter/Expresion/Acceso.ts
	src/assets/MatrioshTS/src/TypeScript/Interpreter/FuncionesNativas/
	src/assets/MatrioshTS/src/TypeScript/Interpreter/Instruccion/Declaracion.ts
	src/assets/MatrioshTS/src/TypeScript/Interpreter/Instruccion/Funcion.ts
	src/assets/MatrioshTS/src/TypeScript/Interpreter/Instruccion/SentenciasControlFlujo/For.ts
	src/assets/MatrioshTS/src/TypeScript/Interpreter/Instruccion/SentenciasControlFlujo/If_Old.ts
	src/assets/MatrioshTS/src/TypeScript/Interpreter/Vault/


# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
