<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>

<!-- Head -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="#">MatrioshTS IDE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <button type="button" class="m-2 btn btn-success btn-lg" id="interpretar">Interpretar </button> 
  <button type="button" class="m-2 btn btn-success btn-lg" id="traducir">Traducir </button> 
  <button type="button" class="m-2 btn btn-success btn-lg" onclick="limpiarConsola()">Limpiar Consola </button>
  <button type="button" class="m-2 btn btn-success btn-lg" id="guardar_dot">.dot del AST </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="">Home</a>
          </li>
       
          <li class="nav-item">
              <a class="nav-link" href="https://github.com/racarlosdavid/MatrioshTS">About</a>
          </li>
      </ul>
  </div>
</nav>
<!-- Toolbar -->
<div class="col-8 pt-2">
  <!--<button type="button" class="m-2 btn btn-success btn-lg" id="run">Ejecutar</button> -->
  
  
  <!--<button type="button" class="m-2 btn btn-success btn-lg" (click)="ejecutar()">Interpretar </button> -->
</div>


<div class="row">
  <div class="col-12 mt-3">
    <div class="card">
      <div class="card-header">
        <h4>Editor </h4>
      </div>
      <div class="tab" id="tabslinks">
        <button type="button" onclick="nuevaPestaña()">Nueva Pestaña </button>
          <!-- Aqui van los botones de las tabs pero se crean con la funcion nuevaPestaña en tabs.js -->
      </div>
      
      <div id="tabs">
        <!-- Aqui van las tabs pero se crean con la funcion nuevaPestaña en tabs.js -->
      </div>
    </div>
  </div>
 
</div>

<h1>REPORTES</h1>

<div class="col-md-12">
<div class="tab">
  <button class="tablinksR" id="buttonConsola" onclick="mostarPestaniaR(event, 'Consola')">Consola</button>
  <button class="tablinksR" onclick="mostarPestaniaR(event, 'Tabla de Simbolos')">Tabla de Simbolos</button>
  <button class="tablinksR" onclick="mostarPestaniaR(event, 'Errores')">Errores</button>
  <button class="tablinksR" onclick="mostarPestaniaR(event, 'AST')">AST</button>
</div>

<div id="Consola" class="tabcontentR">
    <textarea class="codemirror-textarea" name="" id="consola" cols="30" rows="10"></textarea>
</div>

<div id="Tabla de Simbolos" class="tabcontentR">
    <table class="table table-striped mt-3">
    <thead>
       <tr>
           <th scope="col">Identificador</th>
           <th scope="col">Tipo</th>
           <th scope="col">Tamaño</th>
           <th scope="col">Ambito</th>
           <th scope="col">Rol</th>
        <th scope="col">Posicion</th>
        </tr>
    </thead>
          <tbody id="contenido_tablaSimbolos">
                              
             </tbody>
        </table>
</div>

<div id="Errores" class="tabcontentR">
  <table class="table table-striped mt-3">
    <thead>
       <tr>
          <th scope="col">Tipo</th>
           <th scope="col">Descripcion</th>
        <th scope="col">Fila</th>
           <th scope="col">Columna</th>
        </tr>
    </thead>
          <tbody id="contenido_tablaErrores">
          
          </tbody>
        </table>
</div>

<div id="AST" class="tabcontentR">
 
  <div id="graph" style="text-align: center;"></div>
    
</div>


</div>

<footer>
<nav>
  <div class="color_base" style="height: 50px">
  </div>
</nav>
</footer>

<footer class="section footer-classic context-dark bg-image mt-4">
<div class="container">
  <div class="row row-30">
    <div class="col-md-4 col-xl-5">
     
      <div class="pr-xl-4">
          <!--
        <a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          -->
        <!-- Rights-->
        <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>FIUSAC</span><span>. </span><span>All Rights Reserved.</span></p>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Contacto</h5>
      <dl class="contact-list">
        <dt>Github:</dt>
        <dd><a href="https://github.com/racarlosdavid">https://github.com/racarlosdavid</a></dd>
      </dl>
      <dl class="contact-list">
        <dt>email:</dt>
        <dd><a href="mailto:#">201213132@ingenieria.usac.edu.gt</a></dd>
      </dl>
    </div>
  </div>
</div>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>